![Factories creating emissions](pollution.jpg)

Photo by Maxim Tolchinskiy on Unsplash
  
When factoring heat generation required for the manufacturing and transportation of products, _Greenhouse gas emissions attributable to products, from food to sneakers to appliances, make up more than 75% of global emissions._ (`Source: The Carbon Catalogue https://www.nature.com/articles/s41597-022-01178-9`)

Our data, which is publicly available on nature.com, contains product carbon footprints (PCFs) for various companies. PCFs are the greenhouse gas emissions attributable to a given product, measured in CO<sub>2</sub> (carbon dioxide equivalent).
<!--https://www.nature.com/articles/s41597-022-01178-9-->

This data is stored in a PostgreSQL database containing one table, `product_emissions`, which looks at PCFs by product as well as the stage of production that these emissions occurred. Here's a snapshot of what `product_emissions` contains in each column:

### `product_emissions`

| field                              | data type |
|------------------------------------|-----------|
| `id`                                 | `VARCHAR`   |
| `year`                               | `INT`       |
| `product_name`                       | `VARCHAR`   |
| `company`                            | `VARCHAR`   |
| `country`                            | `VARCHAR`   |
| `industry_group`                     | `VARCHAR`   |
| `weight_kg`                          | `NUMERIC`   |
| `carbon_footprint_pcf`               | `NUMERIC`   |
| `upstream_percent_total_pcf`         | `VARCHAR`   |
| `operations_percent_total_pcf`       | `VARCHAR`   |
| `downstream_percent_total_pcf`       | `VARCHAR`   |

You'll use this data to examine the carbon footprint of each industry in the dataset!

In [2]:
-- Update your query here
SELECT *
FROM product_emissions
LIMIT 5;

             id  year  ... operations_percent_total_pcf downstream_percent_total_pcf
0  10056-1-2014  2014  ...                       30.00%                       12.50%
1  10056-1-2015  2015  ...                       30.00%                       12.50%
2  10222-1-2013  2013  ...                       17.36%                        2.01%
3  10261-1-2017  2017  ...                        5.51%                       63.84%
4  10261-2-2017  2017  ...                        4.51%                       70.41%

[5 rows x 11 columns]

In [2]:
SELECT COUNT(DISTINCT company)
FROM product_emissions

   count
0    145

Empty DataFrame
Columns: []
Index: []

In [5]:
SELECT COUNT(DISTINCT country)
FROM product_emissions;

   count
0     28

In [3]:

SELECT DISTINCT country
FROM product_emissions;

           country
0        Indonesia
1      Switzerland
2            Italy
3            China
4       Luxembourg
5           Sweden
6              USA
7   United Kingdom
8      Netherlands
9           Brazil
10       Australia
11         Germany
12         Ireland
13          Canada
14         Finland
15     South Korea
16        Colombia
17       Lithuania
18           Spain
19          Greece
20           India
21         Belgium
22           Chile
23          France
24    South Africa
25        Malaysia
26          Taiwan
27           Japan

In [6]:
SELECT DISTINCT Industry_group
FROM product_emissions

                                       industry_group
0                         Consumer Durables & Apparel
1                                               Media
2            Semiconductors & Semiconductor Equipment
3               Mining - Iron, Aluminum, Other Metals
4                                             Tobacco
5        Textiles, Apparel, Footwear and Luxury Goods
6                     Technology Hardware & Equipment
7                                       Gas Utilities
8                                               Tires
9                                           Retailing
10                                          Chemicals
11                 Electrical Equipment and Machinery
12          Semiconductors & Semiconductors Equipment
13                         Telecommunication Services
14                                Software & Services
15  Trading Companies & Distributors and Commercia...
16                             Containers & Packaging
17                           Food & Staples Retailing
18                                             Energy
19                                          Materials
20                                          Utilities
21                         Food & Beverage Processing
22  Forest and Paper Products - Forestry, Timber, ...
23  Consumer Durables, Household and Personal Prod...
24                           Food, Beverage & Tobacco
25                 Commercial & Professional Services
26                      Household & Personal Products
27                           Automobiles & Components
28                                      Capital Goods
29     Pharmaceuticals, Biotechnology & Life Sciences

In [7]:
SELECT *
FROM product_emissions
WHERE Industry_group = 'Energy';

             id  ...                      downstream_percent_total_pcf
0   3768-1-2016  ...                                            91.29%
1   3022-1-2016  ...  N/a (product with insufficient stage-level data)
2   3022-2-2016  ...  N/a (product with insufficient stage-level data)
3  35374-1-2013  ...  N/a (product with insufficient stage-level data)
4  73475-1-2016  ...                                            71.14%

[5 rows x 11 columns]

In [9]:
SELECT year, AVG(carbon_footprint_pcf) AS AverageCarbonFootprint
FROM product_emissions
GROUP BY year

   year  averagecarbonfootprint
0  2015            49817.546543
1  2014             2885.434751
2  2017             3685.948845
3  2016             7397.965827
4  2013             2771.386215

In [16]:
SELECT country, AVG(carbon_footprint_pcf) AS AverageCarbonFootprint
FROM product_emissions
GROUP BY country
Order BY AverageCarbonFootprint

           country  averagecarbonfootprint
0         Colombia                0.000415
1        Lithuania                0.010800
2           Greece                0.700000
3            Italy                0.843696
4          Belgium                1.175000
5      Switzerland                5.022368
6            China               23.757167
7        Australia               39.744500
8         Malaysia               58.417500
9           Canada               63.700000
10          France               80.690150
11          Sweden              174.346538
12  United Kingdom              210.473125
13           Chile              518.533333
14         Finland              616.600000
15       Indonesia              721.000000
16         Ireland              855.000000
17          Taiwan             1025.217800
18    South Africa             1119.172727
19             USA             1481.538259
20           India             1535.875000
21     Netherlands             2011.866857
22           Japan             4721.311940
23     South Korea             6408.824909
24          Brazil             9858.102628
25         Germany            33600.372012
26      Luxembourg            83503.650000
27           Spain           752778.940769

In [18]:
SELECT Industry_group, AVG(carbon_footprint_pcf) 
FROM product_emissions
GROUP BY Industry_group
ORDER BY AVG(carbon_footprint_pcf) ;

                                       industry_group            avg
0                       Household & Personal Products       0.143000
1           Semiconductors & Semiconductors Equipment       0.686667
2                                             Tobacco       0.700000
3                                           Retailing       5.453000
4                          Food & Beverage Processing      10.706731
5            Semiconductors & Semiconductor Equipment      12.929750
6        Textiles, Apparel, Footwear and Luxury Goods      14.198125
7   Trading Companies & Distributors and Commercia...      39.744500
8                          Telecommunication Services      46.400000
9                                       Gas Utilities      60.580000
10                                          Utilities      60.610000
11                           Food & Staples Retailing      61.782083
12  Consumer Durables, Household and Personal Prod...     116.375000
13                 Commercial & Professional Services     117.157143
14                        Consumer Durables & Apparel     136.475769
15                             Containers & Packaging     373.512375
16  Forest and Paper Products - Forestry, Timber, ...     685.343077
17                                              Tires    1010.840000
18                           Food, Beverage & Tobacco    1080.540944
19                    Technology Hardware & Equipment    1428.994451
20                                              Media    1534.448000
21                                          Chemicals    1549.643103
22                                Software & Services    1723.499074
23                                             Energy    2154.812600
24                                          Materials    2672.039564
25              Mining - Iron, Aluminum, Other Metals    2727.000000
26                                      Capital Goods    7837.353487
27     Pharmaceuticals, Biotechnology & Life Sciences   24162.000000
28                           Automobiles & Components   35373.471562
29                 Electrical Equipment and Machinery  891050.694818

In [20]:
SELECT country, Industry_group, AVG(carbon_footprint_pcf) AS AverageCarbonFootprint
FROM product_emissions
GROUP BY country, Industry_group 
ORDER BY AVG(carbon_footprint_pcf) ;

         country                      industry_group  averagecarbonfootprint
0       Colombia            Food, Beverage & Tobacco            4.150000e-04
1      Lithuania                           Materials            1.080000e-02
2    Switzerland          Food & Beverage Processing            1.101667e-01
3    Switzerland            Food, Beverage & Tobacco            1.219818e-01
4         France       Household & Personal Products            1.430000e-01
..           ...                                 ...                     ...
106      Germany            Automobiles & Components            3.517512e+04
107        Japan            Automobiles & Components            4.848562e+04
108       Brazil                       Capital Goods            7.032343e+04
109   Luxembourg                           Materials            8.350365e+04
110        Spain  Electrical Equipment and Machinery            2.444616e+06

[111 rows x 3 columns]

In [1]:
SELECT country, Industry_group, AVG(carbon_footprint_pcf) AS AverageCarbonFootprint
FROM product_emissions
GROUP BY country, Industry_group
ORDER BY country;

       country  ... averagecarbonfootprint
0    Australia  ...              39.744500
1      Belgium  ...               1.182000
2      Belgium  ...               1.163333
3       Brazil  ...           20007.620000
4       Brazil  ...             750.000000
..         ...  ...                    ...
106        USA  ...               5.453000
107        USA  ...             101.052632
108        USA  ...              16.666667
109        USA  ...           24162.000000
110        USA  ...            1828.175000

[111 rows x 3 columns]